<h1>Listing music_albums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @music_albums.each do |music_album| %>
  <tr>
    <td><%= music_album.name %></td>
    <td><%= music_album.year %></td>
    <td><%= link_to 'Show', music_album %></td>
    <td><%= link_to 'Edit', edit_music_album_path(music_album) %></td>
    <td><%= link_to 'Destroy', music_album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music album', new_music_album_path %>
